<p id="notice"><%= notice %></p>

<%= render @blog, actions: %i[status edit destroy] %>

<%= render 'comments/comment_form' %>

<%= render @comments %>

<%= link_to 'Back', blogs_path, class: 'btn btn-link', role: 'button' %>
